# Dependencies
node_modules/
.pnpm-store/

# Local Environment Variables & Secrets
.env
.env.local
.env.*.local
Model.txt

# Vite / Build outputs
dist/
dist-ssr/
*.local

# System / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
